In [2]:
import pandas as pd

In [2]:

!ls queries

src_475-star__dst_475-511.parquet

In [ ]:
# url1 = "./queries/src_475-star__dst_475-511.parquet"
url1 = "./queries/src_475-484-475-star__dst_475-511-star.parquet"
# url1 = "./queries/src_475-484-475__dst_475-511.parquet"
# Import a parquet file as a pandas DataFrame
df = pd.read_parquet(url1)

In [7]:
df.head(10)

Empty DataFrame
Columns: [observation_start(t0), observation_end, prediction_start, prediction_end, observation_events, prediction_events]
Index: []

In [10]:
df.shape

(69, 6)